*{
    padding: 0;
    margin: 0;
}

@import url(https://db.onlinewebfonts.com/c/23a02e8af5ef33a9b496dd524401550f?family=YS+Text+Regular+Regular);
@font-face {
    font-family: "YS Text Regular Regular";
    src: url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.eot");
    src: url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.svg#YS Text Regular Regular")format("svg");
}

nav ul li a{
    color: #fff;
}

.tete{
    height: 800px;
    background-image: url(images/couple.png) ;
    background-attachment: fixed;
}

.tete h1{
    font-family: "YS Text Regular Regular";
}

/* Premiere animation */
.checkerboard>div:nth-child(1) {
    -webkit-animation-delay: 3.5714285714s;
    animation-delay: 3.5714285714s;
}

.checkerboard>div:nth-child(2) {
    -webkit-animation-delay: 0.8571428571s;
    animation-delay: 0.8571428571s;
}

.checkerboard>div:nth-child(3) {
    -webkit-animation-delay: 3.5714285714s;
    animation-delay: 3.5714285714s;
}

.checkerboard>div:nth-child(4) {
    -webkit-animation-delay: 6.2857142857s;
    animation-delay: 6.2857142857s;
}

.checkerboard>div:nth-child(5) {
    -webkit-animation-delay: 2.7142857143s;
    animation-delay: 2.7142857143s;
}

.checkerboard>div:nth-child(6) {
    -webkit-animation-delay: 5.8571428571s;
    animation-delay: 5.8571428571s;
}

.checkerboard>div:nth-child(7) {
    -webkit-animation-delay: 1.7142857143s;
    animation-delay: 1.7142857143s;
}

.checkerboard>div:nth-child(8) {
    -webkit-animation-delay: 4.4285714286s;
    animation-delay: 4.4285714286s;
}

.checkerboard>div:nth-child(9) {
    -webkit-animation-delay: 4.7142857143s;
    animation-delay: 4.7142857143s;
}

.checkerboard>div:nth-child(10) {
    -webkit-animation-delay: 1.2857142857s;
    animation-delay: 1.2857142857s;
}

.checkerboard>div:nth-child(11) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.checkerboard>div:nth-child(12) {
    -webkit-animation-delay: 3.4285714286s;
    animation-delay: 3.4285714286s;
}

.checkerboard>div:nth-child(13) {
    -webkit-animation-delay: 4.7142857143s;
    animation-delay: 4.7142857143s;
}

.checkerboard>div:nth-child(14) {
    -webkit-animation-delay: 4.5714285714s;
    animation-delay: 4.5714285714s;
}

.checkerboard>div:nth-child(15) {
    -webkit-animation-delay: 0.7142857143s;
    animation-delay: 0.7142857143s;
}

.checkerboard>div:nth-child(16) {
    -webkit-animation-delay: 0.4285714286s;
    animation-delay: 0.4285714286s;
}

.checkerboard>div:nth-child(17) {
    -webkit-animation-delay: 1.1428571429s;
    animation-delay: 1.1428571429s;
}

.checkerboard>div:nth-child(18) {
    -webkit-animation-delay: 3.4285714286s;
    animation-delay: 3.4285714286s;
}

.checkerboard>div:nth-child(19) {
    -webkit-animation-delay: 3.2857142857s;
    animation-delay: 3.2857142857s;
}

.checkerboard>div:nth-child(20) {
    -webkit-animation-delay: 4.5714285714s;
    animation-delay: 4.5714285714s;
}

.checkerboard>div:nth-child(21) {
    -webkit-animation-delay: 1.7142857143s;
    animation-delay: 1.7142857143s;
}

.checkerboard>div:nth-child(22) {
    -webkit-animation-delay: 0.1428571429s;
    animation-delay: 0.1428571429s;
}

.checkerboard>div:nth-child(23) {
    -webkit-animation-delay: 3.5714285714s;
    animation-delay: 3.5714285714s;
}

.checkerboard>div:nth-child(24) {
    -webkit-animation-delay: 5.4285714286s;
    animation-delay: 5.4285714286s;
}

.checkerboard>div:nth-child(25) {
    -webkit-animation-delay: 1.8571428571s;
    animation-delay: 1.8571428571s;
}

.checkerboard>div:nth-child(26) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.checkerboard>div:nth-child(27) {
    -webkit-animation-delay: 1.7142857143s;
    animation-delay: 1.7142857143s;
}

.checkerboard>div:nth-child(28) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.checkerboard>div:nth-child(29) {
    -webkit-animation-delay: 1.1428571429s;
    animation-delay: 1.1428571429s;
}

.checkerboard>div:nth-child(30) {
    -webkit-animation-delay: 0.1428571429s;
    animation-delay: 0.1428571429s;
}

.checkerboard>div:nth-child(31) {
    -webkit-animation-delay: 0.8571428571s;
    animation-delay: 0.8571428571s;
}

.checkerboard>div:nth-child(32) {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.checkerboard>div:nth-child(33) {
    -webkit-animation-delay: 1.4285714286s;
    animation-delay: 1.4285714286s;
}

.checkerboard>div:nth-child(34) {
    -webkit-animation-delay: 6.8571428571s;
    animation-delay: 6.8571428571s;
}

.checkerboard>div:nth-child(35) {
    -webkit-animation-delay: 1.7142857143s;
    animation-delay: 1.7142857143s;
}

.checkerboard>div:nth-child(36) {
    -webkit-animation-delay: 3.1428571429s;
    animation-delay: 3.1428571429s;
}

.checkerboard>div:nth-child(37) {
    -webkit-animation-delay: 6.1428571429s;
    animation-delay: 6.1428571429s;
}

.checkerboard>div:nth-child(38) {
    -webkit-animation-delay: 5.2857142857s;
    animation-delay: 5.2857142857s;
}

.checkerboard>div:nth-child(39) {
    -webkit-animation-delay: 4.2857142857s;
    animation-delay: 4.2857142857s;
}

.checkerboard>div:nth-child(40) {
    -webkit-animation-delay: 0.2857142857s;
    animation-delay: 0.2857142857s;
}

.checkerboard>div:nth-child(41) {
    -webkit-animation-delay: 6.7142857143s;
    animation-delay: 6.7142857143s;
}

.checkerboard>div:nth-child(42) {
    -webkit-animation-delay: 1.7142857143s;
    animation-delay: 1.7142857143s;
}

.checkerboard>div:nth-child(43) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.checkerboard>div:nth-child(44) {
    -webkit-animation-delay: 0.5714285714s;
    animation-delay: 0.5714285714s;
}

.checkerboard>div:nth-child(45) {
    -webkit-animation-delay: 3.8571428571s;
    animation-delay: 3.8571428571s;
}

.checkerboard>div:nth-child(46) {
    -webkit-animation-delay: 0.5714285714s;
    animation-delay: 0.5714285714s;
}

.checkerboard>div:nth-child(47) {
    -webkit-animation-delay: 3.2857142857s;
    animation-delay: 3.2857142857s;
}

.checkerboard>div:nth-child(48) {
    -webkit-animation-delay: 1.2857142857s;
    animation-delay: 1.2857142857s;
}

.checkerboard>div:nth-child(49) {
    -webkit-animation-delay: 4.1428571429s;
    animation-delay: 4.1428571429s;
}

.checkerboard {
    background-image: url("images/fille.jpeg");
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 650px;
    width: 790px;
}

@media screen and (prefers-reduced-motion: no-preference) {
    .checkerboard>div {
        -webkit-animation-name: poof;
        animation-name: poof;
        -webkit-animation-duration: 0.25s;
        animation-duration: 0.25s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        background: #fff;
    }

    .checkerboard>div:nth-child(even) {
        background: #2f2f2f;
    }
}

@-webkit-keyframes poof {
    to {
        opacity: 0;
    }
}

@keyframes poof {
    to {
        opacity: 0;
    }
}
/* Premiere animation */


/* Deuxieme animation */
.container {
    background: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc,
        0 0 0 #ffffff,
        10px 10px 10px #cccccc inset,
        -10px -10px 10px #ffffff inset;
    animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
    /* animation-fill-mode: forwards; */
}

@keyframes anime {
    0% {
        width: 60px;
        height: 60px;
        background: url(images/monsieur.jpeg);
        box-shadow: 0 0 0 #cccccc,
            0 0 0 #ffffff,
            10px 10px 10px #cccccc inset,
            -10px -10px 10px #ffffff inset;
    }

    25% {
        width: 60px;
        height: 60px;
        background: url(images/monsieur.jpeg);
        box-shadow: 10px 10px 10px #cccccc,
            10px 10px 10px #ffffff,
            0 0 0 #cccccc inset,
            0 0 0 #ffffff inset;
    }

    50% {
        width: 60px;
        height: 240px;
        background:url(images/monsieur.jpeg);
        box-shadow: 10px 10px 10px #cccccc,
            10px 10px 10px #ffffff,
            0 0 0 #cccccc inset,
            0 0 0 #ffffff inset;
    }

    100% {
        width: 760px;
        height: 650px;
        background:url(images/monsieur.jpeg) center ;
        box-shadow: 40px 40px 40px #cccccc,
            0 0 0 #ffffff,
            0 0 0 #cccccc inset,
            2px 2px 2px #ffffff inset;
    }
}
/* Deuxieme animation */




/* La FAQ */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "YS Text Regular Regular";

}
 .container-faq h1 {
    text-align: center;
    padding: 35px 0;
    font-size: 60px;
    font-weight: bold;
}
.container-faq {
    width: 70%;
    max-width: 900px;
    min-width: 700px;
    height: auto;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.questions {
    width: 100%;
    height: auto;
    margin: 5px;
}
.visible-pannel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    border-radius: 10px;
    position: relative;
    z-index: 100;
}
.visible-pannel h2 {
    margin-left: 10px;
    padding: 15px 5px;
    font-size: 25px;
}
.visible-pannel img {
    margin-right: 10px;
    width: 25px;
    cursor: pointer;
}
.toggle-pannel {
    padding: 0px 15px;
    height: 0px;
    opacity: 0;
}

.toggle-pannel p {
    line-height: 1.5;
}
